<?xml version='1.0' encoding='utf-8'?>
<plugin
        id="cordova-plugin-rustore-pay"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <name>RustorePay Plugin</name>
    <description>Cordova plugin for rustore-pay</description>
    <js-module src="www/rustore-pay.js" name="RustorePay">
        <clobbers target="RustorePay" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=12.0" />
        <engine name="cordova-android" version=">=10.1.2" />
        <engine name="cordova-ios" version=">=7.0.1" />
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RustorePayPlugin">
                <param name="android-package" value="com.maximnara.rustore.pay.RustorePayPlugin" />
            </feature>
            <preference name="android-gradleVersion" value="8.13" />
            <preference name="android-minSdkVersion" value="23" />
            <preference name="android-compileSdkVersion" value="34" />
            <preference name="GradlePluginKotlinEnabled" value="true" />

            <access origin="https://pay.rustore.ru" />
            <access origin="https://api.rustore.ru" />
            <access origin="https://console.rustore.ru" />
            <access origin="https://artifactory-external.vkpartner.ru" />
            <access origin="https://rustore.ru" />
            <access origin="https://kbr.rustore.ru" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- ЗАМЕНИТЕ НА РЕАЛЬНЫЙ ID ПРИЛОЖЕНИЯ ИЗ RUSTORE -->
            <meta-data android:name="console_app_id_value" android:value="{{НУЖНО ЗАМЕНИТЬ}}" />
            <!-- DEEP LINK ПРИЛОЖЕНИЯ -->
            <meta-data android:name="sdk_pay_scheme_value" android:value="{{НУЖНО ЗАМЕНИТЬ}}.pay" />
            <!-- Включает тестовый режим платежей -->
            <meta-data android:name="ru_store_test_mode" android:value="true" />

            <activity 
                android:name="com.maximnara.rustore.pay.RustorePayActivity"
                android:launchMode="singleTop"
                android:exported="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="{{НУЖНО ЗАМЕНИТЬ}}.pay" />
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android" target-dir="java/com/maximnara/rustore/pay" />
        <framework src="src/android/rustore-pay.gradle" custom="true" type="gradleReference" />

        <config-file target="res/values/strings.xml" parent="/*">
            <!-- ЗАМЕНИТЕ НА РЕАЛЬНЫЙ ID ПРИЛОЖЕНИЯ ИЗ RUSTORE -->
            <string name="console_app_id_value">{{НУЖНО ЗАМЕНИТЬ}}</string>
        </config-file>
    </platform>
</plugin>
